body{
    font-family: 'Times New Roman', Times, serif;
  
}
nav ul {
    gap: 23px;
    color: #00e196;
    font-size: 22px;
}

#me {
    margin-left: 40px;
    margin-right: 40px;
    

}
#sam{
    width: 600px;
    height: 600px;
    margin-left: 250px;
}



.container button {
    border-radius: 30px;
    font-size: 23px;
}
.container h1 {
    font-size: 55px;
    
}

.card-body h4{
    
    padding-left: 40px;
    
}
.card:hover {
    box-shadow: 0 1rem 3rem rgba(255, 6, 6, 0.175) !important;
    transition: all 0.5s ease-out;
    top: -4px;
}

.card{
    
  border-radius: 30px;
   /* background-color:whitesmoke */
   box-shadow: 0px 0px 7px 2px rgb(162, 156, 156) ;
}
.card-body p{
    font-size: large;
    color: rgb(99, 86, 86);
}
.container hr {
    width: 5%;
    border-bottom: 2px solid rgb(7, 63, 7);
    
}

.container p {
    color: #777;
}

